body {
    background-color: #eee;
}
div, svg {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}
div.primary {
    width: 852px;
    background-color: white;
}
div#controls {
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}
div#controls > div {
    width: 300px;
} 
div#main > svg {
    width: 500px;
    height: 300px;
}
input[type=text] {
    padding-left: 3px;
}
button {
    cursor: pointer;
}
textarea#log {
    border: none;
    width: 100%;
    height: 100px;
}
